<!DOCTYPE html>
<html>
<head>
    <title>Teacher Register Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <style>
        .textbox
        {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid #345eeb;
        }
        #headings
        {
        font-family: Arial, Helvetica, sans-serif;
        color:#345eeb;
        font-size: 30px;
        }
        .submit {
              background-color: #345eeb;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              border-radius:10px;
              margin-bottom:5px;
            }

    </style>
</head>
<center>
    <body>
    <div class="navbar">
        <a class="active" href="{% url 'home page' %}">Home</a>
        <div class="dropdown">
          <button class="dropbtn" onclick="login()">Login
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="myDropdown">
            <a href="{% url 'teacher login' %}">Teacher</a>
            <a href="{% url 'student login' %}">Student</a>
          </div>
        </div>
    </div>
    <h2>Teacher Register</h2>
    <form autocomplete="off" action="{%url 'teacher register'%}" method="POST" onsubmit="return validate_teacher_password(this)">
        {% csrf_token %}
        <div class="inputBox">
            <input name="first_name" required class="textbox" placeholder="Enter First Name">
        </div>
        <div class="inputBox">
            <input name="last_name" required class="textbox" placeholder="Enter Last Name">
        </div>
        <div class="inputBox">
            <input name="teacher_father_name" required class="textbox" placeholder="Enter Father Number">
        </div>
        <div class="inputBox">
            <input name="user_email" required class="textbox" placeholder="Enter User Email">
        </div>
        <div class="inputBox">
            <input name="mobile_no" required class="textbox" placeholder="Enter Mobile Number">
        </div>
        <div class="radiobutton">
            <label>Gender</label>
            <input type="radio" name="gender" value="male" checked required> Male
            <input type="radio" name="gender" value="female" required> Female<br>
        </div>
        <div class="inputBox">
            <input type="Password" name="password" id="teacher_password" required placeholder="Enter Password" class="textbox pattern="
                   pattern=".{3,}" title="Please Enter Minimum 6 Characters">
            <p name="msg" id="msg"></p>
        </div>
        <div class="inputBox">
            <input type="Password" name="password2" id="teacher_confirm_password" required placeholder="Enter Confirm Password" class="textbox"
                   pattern=".{3,}" title="Please Enter Minimum 6 Characters">
        </div>
        <div class="cal">
            <input type="date1" id="date" data-date="" data-date-format="YYYY MMMM DD" name='teacher_DOB' value=""  class="textbox" required>
        </div>
        <input type="submit" class="submit" value="Register">
    </form>
    </body>
</center>
<script>
            // Function to check Whether both passwords
             function validate_teacher_password(form) {
             var pass1 = document.getElementById('teacher_password');
             var pass2 = document.getElementById('teacher_confirm_password');
                password1 = form.teacher_password.value;
                password2 = form.teacher_confirm_password.value;
                var warningColor = "#fccf03";
                if (password1 != password2) {
                    document.getElementById("msg").innerHTML = "Passwords Mismatch!"
                    pass1.style.backgroundColor = warningColor;
                    pass2.style.backgroundColor = warningColor;
                    return false;
                }
                else
                {
                    alert("Registering Student")
                    return true;
                }
            }
            <!--     VALIDATE PASSWORD LENGTH IS MORE THAN 6 CHARACTERS        -->
             $('#teacher_password').on('blur', function ()
                 {
                 var message = document.getElementById('msg');
                 var pass1 = document.getElementById('teacher_password');
                 var goodColor = "#66cc66";
                 var badColor = "#ff6666";
                    if (this.value.length < 6)
                    {
                        message.innerHTML = "Password length must be 6 characters length!"
                        pass1.style.backgroundColor = badColor;
                        $(this).focus();
                    }
                    else
                    {
                        message.innerHTML = "Password length OK!"
                        pass1.style.backgroundColor = goodColor;
                        return false;
                    }
                });
              <!--     VALIDATE CONFIRM PASSWORD LENGTH IS MORE THAN 6 CHARACTERS        -->
             $('#teacher_confirm_password').on('blur', function ()
                 {
                 var message = document.getElementById('msg');
                 var pass2 = document.getElementById('teacher_confirm_password');
                 var goodColor = "#66cc66";
                 var badColor = "#ff6666";
                    if (this.value.length < 6)
                    {
                        message.innerHTML = "Confirm Password length must be 6 characters length!"
                        pass2.style.backgroundColor = badColor;
                        $(this).focus();
                    }
                    else
                    {
                        message.innerHTML = ""
                        pass2.style.backgroundColor = goodColor;
                        return false;
                    }
                });
                <!--                -->
                 $('#date1').on('blur', function ()
                 {
                 var message = document.getElementById('msg');
                 message.innerHTML = ""
                 return false;
                });

function login() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
        </script>
</html>
